.container{
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.progCont{
  height: 16px;
  border: 2px solid #31333d;
  border-radius: 10px;
  margin: 8px 0;
}

.progressBar{
  height: 16px;
  margin: auto 0;
  background: #1acd48;
  border-radius: 10px;
  transition: 400ms all ease-in-out;
}

.searchCont{
  /* width: 660px; */
  /* height: 660px; */
  background: #dad6d6;
}

.wcell{
  position: relative;
  /* width: 66px; */
  box-sizing: border-box;
  border: 1px solid #b9b8ba;
  text-align: center;
  font-size: 24px;
  color: #282f3b;
  cursor: pointer;
  /* transition: 200ms all ease-in-out; */
}

.wcell span{
  position: relative;
  z-index: 1;
}

.wcell[data-isFind="true"]{
  /* background: rgba(138, 141, 144, 0.8); */
  border: none;
}

/* .wcell[data-isFind="true"][data-vdrag="true"]::before{ */
.lineCont{
  position: absolute;
  top: 0;
  left: 0;
  /* width: 42px; */
  /* height: 42px; */
  /* transform: rotateZ(45deg); */
  transform-origin: center;
  pointer-events: none;
  /* transition: 1s all ease-in-out; */
}

.wline{
  transform-origin: left;
  background: rgba(64, 232, 64, 0.4);
  pointer-events: none;
}

.pline{
  /* background: rgba(64, 152, 232, 0.4); */
}
