.ludoscreen{
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  /* display: none; */
  --blue: #3565dd;
  --yellow: #ebc31b;
  --red: #e83131;
  --green: #18e650;
}

.btncell{
  position: absolute;
  width: 30%;
  height: 100%;
  top: 0;
  right: 0;
  z-index: 2;
  /* pointer-events: none; */
}

.btncell button{
  top: 30%;
  left: 30%;
  border: none;
  padding: 10px;
  outline: none;
  color: #fefefe;
  cursor: pointer;
  position: absolute;
  border-radius: 8px;
  background: #373b4f;
  font-weight: bolder;
}

.ludoContainer{
  position: relative;
  width: 705px;
  height: 705px;
  margin: 10px;
  background: #888;
}

.homeCont{
  width: 20%;
  height: 50%;
  padding: 10%;
  display: flex;
  flex-wrap: wrap;
}

.incell{
  width: 30%;
  height: 30%;
  margin: 10%;
  border-radius: 50%;
  background: rgba(38, 35, 35, 0.2);
}

.destiny{
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 70.5px;
  border-top-color: var(--green);
  border-left-color: var(--red);
  border-right-color: var(--yellow);
  border-bottom-color: var(--blue);
}

.layer1, .layer3{
  width: 100%;
  height: 40%;
  display: flex;
}

.sand1{
  width: 20%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.layer2{
  width: 100%;
  height: 20%;
  display: flex;
}

.sand2, .sand3{
  width: 40%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.bcell{
  position: relative;
  background: #e8e8e8;
  box-shadow:inset 0px 0px 0px 0.2px #0b0b0b;
}

.bcell1{
  width: 33.3333%;
  height: 16.6667%;
}

.bcell2{
  width: 16.6666%;
  height: 33.3334%;
}

.homeBlue{
  box-shadow:inset 0px 0px 1px 45px var(--blue);
  background: #1e4fc8;
}

.bluecell{
  background: var(--blue);
}

.homeYellow{
  box-shadow:inset 0px 0px 1px 45px var(--yellow);
  background: #d7b10d;
}

.yellowcell{
  background: var(--yellow);
}

.homeRed{
  box-shadow:inset 0px 0px 1px 45px var(--red);
  background: #d01b1b;
}

.redcell{
  background: var(--red);
}

.homeGreen{
  box-shadow:inset 0px 0px 1px 45px var(--green);
  background: #0fc841;
}

.greencell{
  background: var(--green);
}

.starcell{
  /* background: #babfcf; */
  background: #d2d6e4;
}

.starcell::after{
  content: "★";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 2em;
  color: #999cc4;
  text-align: center;
  transform-origin: center;
  transform: scale(1.2);
}

.star::after{
  content: "★";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 2em;
  color: rgba(0, 0, 0, 0.2);
  text-align: center;
  transform-origin: center;
  transform: scale(1.2);
}

.arrowcell::after{
  content: "→";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 2em;
  text-align: center;
  transform-origin: center;
  -webkit-text-stroke-width: 2px;
}

.greenarrow::after{
  transform: rotateZ(90deg);
  color: var(--green);
}

.redarrow::after{
  transform: rotateZ(0deg);
  color: var(--red);
}

.yellowarrow::after{
  transform: rotateZ(180deg);
  color: var(--yellow);
}

.bluearrow::after{
  transform: rotateZ(-90deg);
  color: var(--blue);
}
