.container{
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blockCont{
  background: #a5b1d6;
  margin-top: 2px;
  border: 10px solid #3e4457;
}

.pcell{
  box-sizing: border-box;
  border: 1px solid #2b2d38;
}

.pcell[data-isover="true"]{
  background: rgba(0, 0, 0, 0.36) !important;
}

.piecesCont, .btnCont{
  position: absolute;
  top: 0;
  left: 0;
  width: 400px;
  height: 720px;
  margin: 2px 6px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.btnCont{
  left: unset;
  right: 0;
}

.swbtn{
  padding: 12px 20px;
  color: #eee;
  font-weight: 600;
  border-radius: 6px;
  background: #2c6ac1;
  cursor: pointer;
  box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.6);
}

.shapeCont{
  /* filter: drop-shadow(0px 0px 2px #eee); */
}

.shcell[draggable='true']{
  cursor: grab;
}
