.container{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.switchContainer{
  width: 90%;
  margin-top: 100px;
  padding: 100px 50px;
  display: flex;
  justify-content: space-between;
  border: 10px solid #373847;
}

.switch{
  position: relative;
  width: 100px;
  height: 160px;
  background: #241d3e;
  border: 5px solid #4e4960;
  margin: 0 0;
}

.onSign{
  cursor: pointer;
  position: absolute;
  top: 0;
  width: 100%;
  height: 50%;
  background: #119e46;
  box-shadow: 0 4px 5px rgba(6, 7, 40, 0.59);
}

.offSign{
  cursor: pointer;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50%;
  background: #d62424;
  box-shadow: 0 -4px 5px rgba(6, 7, 40, 0.59);
}
