body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
  margin: 0;
  padding: 0;
}

*::selection{
  background: inherit;
}

.home{
  position: absolute;
  top: 0;
  left: 0;
  padding: 24px;
  font-weight: 600;
  color: #caccdb;
  cursor: pointer;
}

.boxapp{
  width: 100%;
  min-height: 100vh;
  background: #0e0e16;
  overflow: hidden;
}

.app{
  width: 100%;
  min-height: 100vh;
  background: #0e0e16;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input[type="range"]{
  outline: none;
  background: none;
}

body::-webkit-scrollbar {
  width: 8px;
  background-color: #0e0e16;
}

body::-webkit-scrollbar-thumb {
  width: 8px;
  border-radius: 4px;
  background-color: #484858;
}
